---
// Import Komponenten 
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Leistungen from "../components/Leistungen.astro";
import Galerie from "../components/Galerie.astro";
import Kontakt from "../components/Kontakt.astro";
---
  <Layout title="Kui Gebäudegestaltung">
    <div class="container py-5"> 
      
      <Hero />
      <Leistungen />
      <Galerie />
      <Kontakt />
    </div> 
    </Layout>